@use "src/styles/design-tokens" as tokens;

.Card {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  border-radius: 20px;
  padding: tokens.$spacing-200 0;
}
